body{
  font-family: ProximaNova,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Segoe UI Emoji,Segoe UI Symbol,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,EmojiOne Color,Android Emoji;
  background: no-repeat url("../public/background.jpg");  
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: rgba(0,0,0,.6);
  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-right: auto;
    font-size: 30px;
    &-text{
      margin-left: 10px;
    }
    &-image{
      margin-left: 10px;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__link{
    border: none;
    height: 30px;
    border-radius: 1px;
    background-color: white;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    width: 100px;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      background-color: #FF5864;
    } 
  }
}

.form{
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__file{
    display: none;
  }
  &__fileLabel{
    cursor: pointer;
    height: 30px;
    border-radius: 1px;
    background-color: white;
    color: black;
    margin-top: 10px;
    width: 200px;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-top: 3px;
    &:hover{
      background-color: rgba(255, 255, 255, 0.792);
    } 
  }
  &__label{
    position: relative;
    left:-22vw ;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
  }
  &__input{
    width: 50vw;
    height: 4vh;
    border-radius: 5px;
  }
  &__star{
    color: rgba(255, 0, 0, 0.811);
  }
  &__error{
    color: rgba(255, 0, 0, 0.811);
  }
  &__submit{
    margin-top: 10px;
    background-color: #FF5864;
    cursor: pointer;
    color: white;
    width: 244px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: none;
    &:hover{
      background-color: #ff5863d0;
    }
  }
}

.main{
  margin-top: 30vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title{
    font-weight: 800;
    font-size: 90px;
    color: white;
  }
  &__link{
    background-color: #FF5864;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 244px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    &:hover{
      background-color: #ff5863d0;
    }
  }
}

.cards{
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0));
  width: 53.92vw;
  height: 63.49vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: absolute;
  background-color: #FF5864;
  width: 20.55vw;
  height: 45.49vh;
  background-size: cover;
  background-repeat: no-repeat;
  &__selector{
    display: flex;
    &-item{
      width: 75px;
      height: 7px;
      background-color: rgba(96, 96, 96, 0.6);
      &_active{
        width: 75px;
        height: 7px;
        background-color: rgba(250, 250, 250, 1);
      }
    }
  }
}